USE [master]
GO
/****** Object:  Database [TabelaWynikow]    Script Date: 2020-08-31 14:05:51 ******/
CREATE DATABASE [TabelaWynikow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TabelaWynikow', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TabelaWynikow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TabelaWynikow_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TabelaWynikow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TabelaWynikow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TabelaWynikow]
GO
/****** Object:  Table [dbo].[Wyniki]    Script Date: 2020-08-31 14:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wyniki](
	[IDGracza] [int] IDENTITY(1,1) NOT NULL,
	[Gracz] [nvarchar](50) NULL,
	[Wynik] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGracza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
